.idea/
*.iml
/target/
.classpath
.project
.settings/
yabonza/build/**
yabonza/www/
dev-server/node_modules/
npm-debug.log
yabonza/coverage/
yabonza/.vscode/
yabonza/*.zip
lib/
.DS_Store
node_modules
yabonza/node_modules/
sh.exe.stackdump

yabonza/app/.sonar/
yabonza/app/js/.sonar/
yabonza/app/js/sonar-project.properties
yabonza/app/sonar-project.properties
/yabonza/app/nbproject/private/
.vs/config/applicationhost.config
yabonza/.vs/slnx.sqlite
yabonza/.vs/
yabonza/app/.vs/
